---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: {{ namespace }}
stringData:
    database-user: {{ database-user }}     
    database-password: {{ database-password }}
    database-root-password: {{ database-root-password }}
    database-host: xraylabdb 
    database-db: xraylabdb 